@font-face {
    font-family: 'nodesto_caps_condensed';
    src: url('nodesto_caps_condensed-webfont.woff2') format('woff2'),
         url('nodesto_caps_condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2
{
    text-align: center;
    padding: 0;
    margin: 0;
}
h1
{
    font-family: 'nodesto_caps_condensed', sans-serif;
    font-size: 400%;
}
h2
{
    font-family: 'nodesto_caps_condensed', sans-serif;
    font-size: 200%;
}
h3
{
    font-family: 'nodesto_caps_condensed', sans-serif;
    margin-left: 1em;
    font-size: 150%;
}
html
{
    background-color: black;
    background: url(backdrop.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}
html, body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.content
{
    max-width: 640px;
    background-color: white;
    padding: 10px;
    margin: 10px auto 10px auto;
    box-shadow: 10px 10px 5px #333333;
    /*border-radius:15px;*/
    border: 5px solid black;
}
p
{
    margin: 20px 20px 20px 20px;
}
.legalise
{
    font-size: 60%;
    text-align: center;
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto 0 auto;
}
.samplecard
{
    float: right;
    margin: -5px 5px 5px 5px;
    padding: 5px 5px 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #333333;
    cursor:pointer;
}

#cardimg
{
    width: 248px;
    height: 351px;
}

.ttsimss
{
    text-align: center;
    width: 95%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a:link, a:visited, a:active, a:hover {
    color: #7f80fe;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}