@font-face {
    font-family: 'atlantis_internationalregular';
    src: url('atlantisinternational-jen0-webfont.woff2') format('woff2'),
         url('atlantisinternational-jen0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1, h2
{
    text-align: center;
    padding: 0;
    margin: 0;
}
h1
{
    font-family: "atlantis_internationalregular";
    font-size: 300%;
    line-height: 100%;
}
h3
{
    margin-left: 0.2em;
    font-weight: normal;
    font-size: 130%;
    margin: 0;
}
body
{
    background-color: black;
    background:url("back.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}
html, body
{
    padding: 0;
    margin: 0;
    font-family: "atlantis_internationalregular";
    font-size: 150%;
    line-height: 80%;
}
.content
{
    width: 800px;
    background-color: #1D2B53;
    color: white;
    padding: 10px 30px;
    margin: 20px auto 20px auto;
    box-shadow: 10px 10px 5px #333333;
    /*border-radius:15px;*/
    border: 5px solid white;
}
p
{
    margin: 20px 20px 20px 20px;
}
.legalise
{
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto 0 auto;
}
.coverimg
{
    float: right;
    margin: 0 0.5em;
}

a:link, a:visited, a:active, a:hover {
    color: #FFA300;
    text-decoration: underline;
}
a:hover {
    color: #FFEC27;
}

ul {
    list-style-type: square;
}